body {
  font-family: verdana;
  text-align: center;
  font-size: 12px;
}

header h1 {
  font-size: 70px;
}

#description, .edition {
  width: 50%;
  margin: auto;
  text-align: left;
}

.edition {
  margin-top: 50px
}

article h1 {
  font-size: 20px;
  text-align: center;
}

article h2 {
  font-size: 15px;
}

#disclaimer {
  font-weight: bold;
  font-style: italic;
}

a, a:visited {
  color: rgb(129, 129, 129);
}

a:hover {
  font-weight: bold;
}

.inscription {
  text-align: center;
}