---
layout: default
---
<div class="events">
  <h1>Événements</h1>

  {% for event in site.data.events %}
    <div class="event">
      <h2>{{ event.title }}</h2>
      <p class="date">Quand? <span>{{ event.date }}</span></p>

      <p>
        Présentations:
      </p>
      <ul>
        {% for talk in event.talks %}
          <li>{{talk.title}} - <a href="http://twitter.com/{{talk.twitter}}" target="_blank">
            {{talk.name}}
          </a></li>
        {% endfor %}
      </ul>

      <div>
        <p class='location'>Où? <span>{{event.location}}</span></p>
      </div>
    </div>
    <hr />
  {% endfor %}
</div>