---
layout: default
title: 'Accueil'
---
{% assign next_io = site.data.io-events.first %}
{% assign next_openhack = site.data.openhack-events.first %}

<div id='event-panels'>
  <div class="small-12 large-6 columns event">
    <h2 class='io'>io</h2>

    <div class="description">
      <p><a href="/io">C’est quoi l’io? Les détails sont ici.</a></p>
    </div>

    <div class="panel">
      <h2>{{ next_io.title }}</h2>
      <p class="date">Quand? <span>{{ next_io.date }}</span></p>
      <p class='location'>Où? <span>{{ next_io.location }}</span></p>

      <a href="https://www.eventbrite.ca/e/{{next_io.eventbrite_id}}" class="button alert inscription">Inscription!</a>

      <h2 class='talks'>
        Quoi?
      </h2>
      <ul>
        {% for talk in next_io.talks %}
          <li>{{talk.title}} - <a href="http://twitter.com/{{talk.twitter}}" target="_blank">{{talk.name}}</a></li>
        {% endfor %}
      </ul>

    </div>
  </div>

  <div class="small-12 large-6 columns event">
    <h2>OpenHack</h2>
    <div class="description">
      <p><a href='/openhack'>C’est quoi l’OpenHack? Les détails sont ici.</a></p>
    </div>

    <div class="panel">
      <h2>{{ next_openhack.title }}</h2>
      <p class="date">Quand? <span>{{ next_openhack.date }}</span></p>
      <p class='location'>Où? <span>{{ next_openhack.location }}</span></p>
      <p class='sponsor'><u>Nous sommes à la recherche de commanditaire. D'ici là, vous devrez payer pour votre pizza et vos breuvages.</u></p>

      {% if next_openhack.eventbrite_id %}
        <a href="https://www.eventbrite.ca/e/{{next_openhack.eventbrite_id}}" class="button alert inscription">Inscription!</a>
      {% endif %}
    </div>
  </div>
</div>
