---
layout: default
title: 'Accueil'
---
{% assign next_openhack = site.data.openhack-events.first %}


<div class="homepage">


    <div id="page-wrapper">

        <!-- Header -->
        <div id="header-wrapper" class="wrapper">
            <div id="header">

                <!-- Logo -->
                <div id="logo">
                    <img class="logo" src="{{ '/images/logo_transparent_cropped.png' | relative_url }}" alt="Saglac IO Logo" />
                    <p>Meetup technologique du Saguenay&mdash;Lac-St-Jean</p>
                </div>

                <!-- Nav -->
                {% comment %}
                {% include top_nav.html %}
                {% endcomment %}

            </div>
        </div>

        <!-- Intro -->
        {% include introduction.html %}

        <!-- Main -->
        {% include next-io.html %}

        {% comment %}
        <!-- Testimonials -->
        {% include testimonials.html %}
        {% endcomment %}

        <!-- Footer -->
        {% include footer.html %}
    </div>
</div>
