---
layout: default
title: 'OpenHack'
---
<article id='description' class="small-12 large-6 columns">
  <h2>Qu'est-ce que l’OpenHack?</h2>
  <blockquote cite="http://openhack.github.io/">
    "OpenHack is a meetup with a simple purpose: Code together, on anything. OpenHack works by hosting a meetup in your city that gets programmers of any experience level together to code." - openhack.github.io
  </blockquote>

  <h2>Les quatre "règles" d'or</h2>

  <ul>
    <li>Vous pouvez travailler sur n'importe quoi! Langage, framework, open source, travail, etc.</li>
    <li>Vous n'avez pas besoin d'avoir une idée, pourquoi ne pas aider quelqu'un?</li>
    <li>Ça commence avec une petite ronde d'introductions (tous les soirs!): qui vous êtes, sur quoi vous travaillez, si vous voulez de l'aide ou encore si vous voulez aider.</li>
    <li>Il n'y a pas de quatrième règle!</li>
  </ul>
  <h2>En vidéo...?!</h2>
  <iframe width="450" height="253" src="//www.youtube.com/embed/bQgbSXBjpz0?rel=0" frameborder="0" allowfullscreen></iframe>
</article>

<div class="events small-12 large-6 columns">
  <h2>C'est quand?</h2>

  {% for event in site.data.openhack-events %}
    <div class="event">
      <h3>{{ event.title }}</h3>
      <p class="date">Quand? <span>{{ event.date }}</span></p>
      <p class='location'>Où? <span>{{event.location}}</span></p>
      <p class='sponsor'><u>Nous sommes à la recherche de commanditaire. D'ici là, vous devrez payer pour votre pizza et vos breuvages.</u></p>

      {% if event == site.data.openhack-events.first and event.eventbrite_id %}
        <a href="https://www.eventbrite.ca/e/{{event.eventbrite_id}}" class="button alert inscription">Inscription!</a>
      {% endif %}
    </div>
  {% endfor %}
</div>
