/* Base | From officiel Hyde theme CSS */
.content {
  padding: 40px 20px;
}

@media (min-width: 768px) {
  .content {
    padding: 40px;
  }
}

@media (min-width: 990px) {
  .content {
    padding: 60px 0;
  }
}

/* Event */
.events h1 {
  text-align: center;
  font-size: 60px;
}

.events event h2 {
  font-size: 24px;
}

.event li {
  color: rgb(69, 68, 65);
}

.event .location span,
.event .date span {
  font-style:italic;
}

.footprint {
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
}