<footer>
  <div class="small-12 large-4 columns">
    <form action="http://jipiboily.us7.list-manage1.com/subscribe/post?u=057aa15d4f31799882124acd5&amp;id=da1eb7ce3d" method="post" target="_blank" novalidate="">
      <div class="row collapse">
        <div class="small-10 columns">
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Infolettre (courriel)">
        </div>
        <div class="small-2 columns">
          <input type="submit" value="Go!" name="subscribe" id="mc-embedded-subscribe" class="button postfix">
        </div>
      </div>
    </form>
  </div>

  <div class='small-12 large-8 columns'>
    <ul>
      <li><a href="http://twitter.com/saglacio">@saglacio</a></li>
      <li><a href="https://www.facebook.com/groups/saglac.io">groupe Facebook</a></li>
      <li><a href="mailto:info@saglac.io">info@saglac.io</a></li>
    </ul>
  </div>
</footer>