<div class="footer-wrapper wrapper">
    <div class="title">Restons en contact</div>
    <div id="footer" class="container">
        <header class="style1">
            <h2>Une communauté vivante</h2>
            <p>
                Le Saglac IO n'est pas seulement un événement mensuel, c'est aussi une communauté de professionnels et d'amateurs qui partagent et s'entraident toute l'année.
            </p>
        </header>
        <hr />
        <div class="row 150%">
            <div class="6u 12u(mobile)">

                <!-- Contact Form -->
                <section>
                    <form method="post" action="https://formspree.io/{{ site.email }}">
                        <input type="hidden" name="_subject" value="Nouveau message du site" />
                        <input type="text" name="_gotcha" style="display:none" />
                        <input type="hidden" name="_next" value="{{ site.url }}{{ site.baseurl }}{% link pages/merci.html %}" />
                        <div class="row 50%">
                            <div class="6u 12u(mobile)">
                                <input type="text" name="name" id="contact-name" placeholder="Nom" />
                            </div>
                            <div class="6u 12u(mobile)">
                                <input type="text" name="_replyto" id="contact-email" placeholder="Courriel" />
                            </div>
                        </div>
                        <div class="row 50%">
                            <div class="12u 12u(mobile)">
                                <textarea name="message" id="contact-message" placeholder="Message" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="12u">
                                <ul class="actions">
                                    <li><input type="submit" class="style1" value="Envoyer" /></li>
                                    <li><input type="reset" class="style2" value="Réinitialiser" /></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>

            </div>
            <div class="6u 12u(mobile)">

                <!-- Contact -->
                <section class="feature-list small">
                    <div class="row">
                        <div class="6u 12u(mobile)">
                            <section>{% include facebook-page.html %}</section>
                        </div>
                        <div class="6u 12u(mobile)">
                            <section>
                                <h3 class="icon fa-slack">Slack</h3>
                                <p>
                                    Demandez à ce qu'on vous ajoute au groupe Slack privé.
                                </p>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="6u 12u(mobile)">
                            <section>
                                <h3 class="icon fa-twitter">Twitter</h3>
                                <p>
                                    <a href="{{ site.twitter.url }}">@{{ site.twitter.handle }}</a>
                                </p>
                            </section>
                        </div>
                        <div class="6u 12u(mobile)">
                            <section>
                                <form action="http://jipiboily.us7.list-manage1.com/subscribe/post?u=057aa15d4f31799882124acd5&amp;id=da1eb7ce3d" method="post" target="_blank" novalidate="">
                                    <div class="row">
                                        <div class="12u">
                                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Infolettre (courriel)">
                                        </div>
                                        <div class="12u">
                                            <input type="submit" value="M'informer" name="subscribe" id="mc-embedded-subscribe" class="style2">
                                        </div>
                                    </div>
                                </form>
                            </section>
                        </div>
                    </div>
                </section>

            </div>
        </div>
        <hr />
    </div>
    <div id="copyright">
        <ul>
            <li>&copy; Saglac IO</li>
            <li><a href="{{ site.github.repository_url }}"><i class="fa fa-github" aria-hidden="true"></i> Github</a></li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</div>
