<div id="intro-wrapper" class="wrapper style1">
    <div class="title">Qu'est-ce que c'est?</div>
    <section id="intro" class="container">
        <p class="style1">Le Saglac IO, c'est un événement mensuel <strong>gratuit</strong>.</p>
        <p class="style2">
            Pour et par les passionnés de développement logiciel et d'administration de systèmes
        </p>
        <p class="style3">Dans une formule 5 à 7, les passionnés d'informatique du Saguenay&mdash;Lac-St-Jean partagent leur passion et leurs dernières découvertes autour d'une bière et d'un repas.</p>
        <ul class="actions">
            <li><a href="faq" class="button style3 big">En savoir plus</a></li>
        </ul>
    </section>
</div>
