<div id="intro-wrapper" class="wrapper style1">
    <div class="title">Le meetup, c'est quoi?</div>
    <section id="intro" class="container">
        <p class="style1">Le Saglac IO est un événement mensuel <strong>gratuit</strong> organisé par</p>
        <p class="style2">
            une communauté de passionnés de technologies
        </p>
        <p class="style3">Dans une formule <a href="https://en.wikipedia.org/wiki/Cinq_%C3%A0_sept" target="_blank">5 à 7</a> informel, les passionnés d'informatique du Saguenay&mdash;Lac-St-Jean partagent leur passion et leurs dernières découvertes.</p>

        <div class="feature-list">
            <div class="row">
                <div class="6u 12u(mobile)">
                    <section>
                        <h3 class="icon fa-beer">C'est quoi?</h3>
                        <div class="feature-content">
                            <p>Réseautage, discussions et présentations. Courtes présentations de 5-15 minutes sur des sujets reliés à l'informatique et aux technologies s'y rattachant.</p>
                        </div>
                    </section>
                </div>
                <div class="6u 12u(mobile)">
                    <section>
                        <h3 class="icon fa-users">Pour qui?</h3>
                        <div class="feature-content">
                            <p>Ouvert au public, tous les passionnés de technologies, autant professionnels qu'amateurs, sont invités à se joindre à nous.</p>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="6u 12u(mobile)">
                    <section>
                        <h3 class="icon fa-calendar">Quand?</h3>
                        <div class="feature-content">
                            <p>À tous les mois, une date est décidée selon la disponibilité des organisateurs et présentateurs.</p>
                        </div>
                    </section>
                </div>
                <div class="6u 12u(mobile)">
                    <section>
                        <h3 class="icon fa-map-pin">À quel endroit?</h3>
                        <div class="feature-content">
                            <p>En alternance entre Saguenay et Alma. Chaque événement mentionne où il aura lieu, dans un restaurant, à l'UQAC, etc.</p>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">

                <div class="6u 12u(mobile)">
                    <section>
                        <h3 class="icon fa-dollar">À quel prix?</h3>
                        <div class="feature-content">
                            <p>L'événement est <strong>totalement gratuit.</strong> Par contre, la nourriture et la bière n'est généralement pas fournies.</p>
                        </div>
                    </section>
                </div>
                <div class="6u 12u(mobile)">
                    <section>
                        <h3 class="icon fa-heart">Par qui?</h3>
                        <div class="feature-content">
                            <p>Un groupe de bénévoles de la région qui ont le partage de connaissances à coeur.</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <ul class="actions">
            <li><a href="{% link pages/faq.html %}" class="button style3 big">En savoir plus</a></li>
        </ul>
    </section>
</div>
