{% assign category = site.data.sponsors.partnership %}

<div class="wrapper style3">
    <div class="title">{{ category.title }}</div>
    <div class="row">
        {% for sponsor in category.sponsors %}
        <div class="10u(mobile) -1u(mobile) {% if forloop.index == 1 %}-1u{% endif %}">
            <section class="highlight">
                <a href="{{ sponsor.link }}" class="image featured" target="_blank">
                    <img src="{{ 'images/sponsors/' | relative_url }}{{ sponsor.logo }}" alt=""/>
                </a>
            </section>
        </div>
        {% endfor %}
    </div>
</div>
