<div class="wrapper style3">
    <div class="title">The Endorsements</div>
    <div id="highlights" class="container">
        <div class="row 150%">
            <div class="4u 12u(mobile)">
                <section class="highlight">
                    <a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
                    <h3><a href="#">Aliquam diam consequat</a></h3>
                    <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
                    <ul class="actions">
                        <li><a href="#" class="button style1">Learn More</a></li>
                    </ul>
                </section>
            </div>
            <div class="4u 12u(mobile)">
                <section class="highlight">
                    <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
                    <h3><a href="#">Nisl adipiscing sed lorem</a></h3>
                    <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
                    <ul class="actions">
                        <li><a href="#" class="button style1">Learn More</a></li>
                    </ul>
                </section>
            </div>
            <div class="4u 12u(mobile)">
                <section class="highlight">
                    <a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
                    <h3><a href="#">Mattis tempus lorem</a></h3>
                    <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
                    <ul class="actions">
                        <li><a href="#" class="button style1">Learn More</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>
