%font-awesome {
    font: normal normal normal 14px/1 FontAwesome
}

.text-center {
    text-align: center;
}

#logo {
    height: auto;
    top: 145px;
}

.logo {
    max-width: 150px;
}

// fix header overlay getting on top only on mobile
@include breakpoint(mobile) {
    #header-wrapper {
        z-index: -2;
        &:before {
            z-index: -1;
        }
    }
    textarea {
        display: block;
        width: 100%;
        font-size: 1em;
        padding: 1em 0 1em 0;
        max-width: 30em;
        margin: 0 auto;
    }
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
    &.style2 {
        width: 100%;
    }
}

@include breakpoint(desktop) {
    input[type="button"],
    input[type="submit"],
    input[type="reset"],
    button,
    .button {
        padding: 0 1em 0 1em;
        font-size: 0.8em;
    }
    /* Feature List */
    .feature-list {
        h3 {
            position: relative;
            padding: 4px 0 0 90px;

            &:before {
                left: 0;
                position: absolute;
            }
        }

        &.small {
            h3 {
                padding: 0;

                &:before {
                    margin-right: 0.5em;
                    position: relative;
                }
            }
        }
    }
}

// fix logo and title display with nav
#header-wrapper {
    height: 400px;
}

.homepage {
    #header-wrapper {
        height: auto;
    }

    #logo {
        top: 33%;
    }
}

dt {
    font-weight: bold;
}

#intro {
    .feature-list {
        text-align: left;

        h3 {
            color: #fff;
        }
    }
}

.footer-wrapper {
    h3 {
        color: #e97770;
    }
}

@import "page/faq";
