---
layout: default
title: 'Accueil'
permalink: /
---
{% assign next_openhack = site.data.openhack-events.first %}

<div class="homepage">

    <div id="page-wrapper">

        <!-- Header -->
        {% include header.html %}

        <!-- Intro -->
        {% include introduction.html %}

        <!-- Main -->
        {% include next-io.html %}

        {% comment %}
        <!-- Testimonials -->
        {% include testimonials.html %}
        {% endcomment %}

        <!-- Footer -->
        {% include footer.html %}
    </div>
</div>
