---
layout: page
title: 'Archives'
permalink: archives
---

<div class="wrapper style2">
    <div class="title">Les archives</div>
        <div id="main" class="container">
            <div id="content">
                <article class="box post">

                    <header class="style1">
                        <h2>Les événements passés</h2>
                    </header>

                    <p>
                        Tous les détails des événements sont sur les pages de chaque événement, <a href="https://github.com/saglacio/saglac.io/blob/master/_data/io-events.yml">ou encore ici</a>.
                    </p>

                    <ul style="list-style-type: circle;padding-left: 30px;">
                        {% for event in site.data.io-events %}
                            <li>
                                {{event.title}} ({{event.date}})
                                {% if event.event_url %}
                                    <a href="{{event.event_url}}">Lien</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>

                </article>
            </div>
        </div>
    </div>
</div>
