---
layout: default
title: 'io'
permalink: pretty
---
<article id='description' class="small-12 large-6 columns">
  <h2>L’io, c’est quoi?</h2>
  <p>L’io se veut un événement informel entre passionnés de programmation et d’administration de systèmes du Saguenay-Lac-St-Jean. Les rencontres sont mensuelles, en alternance entre Alma et Saguenay.</p>

  <p>Il y a 3 ou 4 courtes présentations d’environ 15 minutes sur des sujets qui passionnent les présentateurs et qu’ils veulent partager avec vous. Ce ne sont pas nécessairement des experts sur le sujet. L’intention est de partager les découvertes et connaissances. </p>

  <p>C’est aussi une bonne occasion de fraterniser autour d’un café ou d’une bière, par exemple!</p>

  <p class="footprint">Cours de prononciation anglophone en 2 secondes: "io" se prononce "ail eau".</p>

  <p class="footprint">C’est largement et ouvertement inspiré de <a href="http://opencode.ca" target="_blank">l’OpenCode</a>, à Québec.</p>
</article>

<div class="events small-12 large-6 columns">
  <h2>C'est quand?</h2>

  {% for event in site.data.io-events %}
    <div class="event">
      <h3>{{ event.title }}</h3>
      <p class="date"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i> {{ event.date }}</p>
      <div>
        <p class='location'><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> {{event.location}}</p>
      </div>

      {% if event.sponsor %}
        <h3 class='sponsor'>COMMANDITE: {{event.sponsor}}</h3>
      {% endif %}

      {% if event == site.data.io-events.first %}
        {% if event.eventbrite_id %}
          <a href="https://www.eventbrite.ca/e/{{event.eventbrite_id}}" class="button alert inscription">Inscription!</a>
        {% endif %}

        {% if event.event_url %}
          <a href="{{event.event_url}}" class="button alert inscription">Inscription!</a>
        {% endif %}
      {% endif %}

      <h4>Les présentations</h4>
      {% for talk in event.talks %}
        {% if talk.slides %}
        <div id="slides">
          <a href="{{talk.slides}}"><i class="fa fa-eye fa-lg"></i></a>
        </div>
        {% endif %}
        <h5>{{talk.title}}</h5>
        <div class="author">
        Par {% if talk.website %}<a href="{{talk.website}}" >{{talk.name}}</a>{% else %}{{talk.name}}{% endif %}
         {% if talk.twitter %}<a href="http://twitter.com/{{talk.twitter}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>{% endif %}
        <p>{{talk.description}}</p>
        </div>
      {% endfor %}
    </div>
    <hr>
  {% endfor %}
</div>
