<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <meta name="description" content="L'io se veut un événement informel entre passionnés de programmation et administration de systèmes.">
    <meta name="author" content="@jipiboily">

    <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <title>
      {% if page.title %}{{ page.title }} &middot; {% endif %}
      io &middot; saglac.io
    </title>

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="/assets/css/saglac.io.css">


    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="/assets/favicon.png">

    {% include gauges.html %}
  </head>
  <body>


    <div class='row container'>
      {% include top_nav.html %}

      <header id='site-title'>
        <h1>
          saglac.io
        </h1>
        <h6>
          Événements pour et par les passionnés de programmation et d’administration de systèmes du Saguenay-Lac-St-Jean
        </h6>
      </header>



      {{ content }}

      <footer>
        <div class="small-12 large-4 columns">
          <form action="http://jipiboily.us7.list-manage1.com/subscribe/post?u=057aa15d4f31799882124acd5&amp;id=da1eb7ce3d" method="post" target="_blank" novalidate="">
            <div class="row collapse">
              <div class="small-10 columns">
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Infolettre (courriel)">
              </div>
              <div class="small-2 columns">
                <input type="submit" value="Go!" name="subscribe" id="mc-embedded-subscribe" class="button postfix">
              </div>
            </div>
          </form>
        </div>

        <div class='small-12 large-8 columns'>
          <ul>
            <li><a href="http://twitter.com/saglacio">@saglacio</a></li>
            <li><a href="https://groups.google.com/forum/#!forum/io-saglac">Google Group</a></li>
            <li><a href="mailto:info@saglac.io">info@saglac.io</a></li>
          </ul>
        </div>
      </footer>
    </div>

    <a href="https://github.com/jipiboily/saglac.io"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

    {% include gauges.html %}
  </body>
</html>
